<!DOCTYPE html>
<html lang="en">
<head>
    
</head>
<body>
    <div style="text-align: center;">
    <h2>{{ course_info['course_abrv'] }}</h2>
    <h2>{{ course_info['title'] }}</h2>
    <h3>{{ course_info['course_abrv'] }}</h3>
    <h3>{{ semester }}</h3>
    </div>


    {% for i in body_content %}
      <div style="text-align: left;">
      <hr><hr>
      {% set section_title, content_dic, display_instructions = i %}

      <h2>{{ section_title }}</h2>

      {% if display_instructions == 'bulleted_list' %}
        <ul>
        {% for key, value in content_dic.items() %}
          <li>{{key}}: {{value}}</li>
        {% endfor %}
        </ul>

      {% else %}
        {% for key, value in content_dic.items() %}
          {% if key in ['title', 'course_abrv'] %}
            {# pass #}
          {% elif ((key == 'Work Load') and (omit_breakdown == True)) %}
            {# pass #}
          {% else %}
            <h3>{{ key }}</h3>
            {{ value }}
          {% endif %}
        {% endfor %}

      {% endif %}
      </div>
    {% endfor %}




    {# a comment #}
</body>
</html>